.box-container{
  width: 60vw;
  height: 80vh;
  margin: 0 auto;
}

.title{
  color: white;
  display: flex;
  align-items: center;
}

.box {
    margin: auto;
    background: white;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 100px 0 
                rgba(178,246,255, 0.5);
    border-radius: 10px;
  }

#myVideo {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 100vw;
    /* max-height: 100vh; */
    object-fit: fill;
    background-size: 100% 100%;
    z-index: -2;
  }

.overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.5;
z-index: -1;
}

@import url(//fonts.googleapis.com/css2?family=Redressed&display=swap);
.exe {
    font-family: 'Redressed', cursive;;
  }

  hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0px solid rgba(11, 168, 221, 0.1);
  }

.backcolor{
    background-color: rgba(11, 168, 221, 0.01);
}

.light{
    opacity: 0.5;
}